/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  
  --bg-color: #fff1f7;
  --head-color: #ffffff;
  --bg-image: url(/image/cover-image-light-png);
  --main-text-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --heading-text-color: #DB00FF;
}


.theme-light .page {
  background-color: var(--bg-color);
  
}

.theme-light .header {
  background-image: url(/images/cover-image-light.png);
}


.theme-light .title_header {
  color: rgba(255, 194, 230, 1);
  text-shadow: 4px 4px 0 var(--accent-color);

}

.theme-light .header__theme-menu-button  {
  color: var(--border-color, rgba(53, 52, 48, 1));
}

.theme-light .header_decor {
  display: none;
}

.theme-light .decor_circle {
  display: none;
}

.theme-light .header__theme-menu-button_active {
  border-color: rgba(53, 52, 48, 1);
}

.theme-light .square {
  border-color: rgba(53, 52, 48, 1);
}

.theme-light .header_text {
  color: var(--main-text-color);
}

.theme-light .square_footer_reverse {
  border-color: var(--main-text-color);
}

.theme-light .reasons_list_item_title {
  background-color: var(--accent-color);
}

.theme-light .reasons_title {
  color: var(--main-text-color);
}

.theme-light .advice_list_item_title {
  color: var(--main-text-color);
}

.theme-light .images_list_title {
  color: var(--main-text-color);
}

.theme-light .square_footer {
  border-color: var(--main-text-color);
}

.theme-light .footer_header {
  color: rgba(255, 194, 230, 1);
  text-shadow: 4px 4px 0 var(--accent-color);
}