/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* Базовые стили*/
/* Я переделал почти весь проект, надеюсь вам понравится) */
.page {
  margin: 0 auto;
  font: 400 var(--font-size)/23.4px var(--font, monospace);
  background: var(--backgroung-image) center/cover fixed;
}

.header {
  min-height: 100vh;
  padding: 10px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 13px;
  margin-top: 67px;
}

.header__theme-menu-button {
  padding: 0 13px;
  color: var(--btn-color);
  background: transparent;
  border: none;
  text-align: center;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--btn-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
  cursor: pointer;
}

.decorative__element {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--btn-color);
  text-transform: uppercase;
  padding-right: 8px;
  margin: 10px;
}

.decorative__element::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--accent-color);
  filter: drop-shadow(0 0 4px var(--accent-color));
}

.rec_icon::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1px solid var(--btn-color);
  border-right: 1px solid var(--btn-color);
  width: 25px;
  height: 25px;
  margin: 10px;
}

.rec_icon::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--btn-color);
  border-left: 1px solid var(--btn-color);
  width: 25px;
  height: 25px;
  margin: 10px;
}

.header__title {
  margin-left: 0;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

.title-decor {
  font-weight: 700;
  background: var(--accent-color);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--sub-text-color);
}

.header-text {
  max-width: 355px;
  justify-self: end;
  align-self: center;
}


.discussion__section-title {
  color: var(--btn-color);
  font-weight: 700;
  line-height: 23.4px;
  font-size: var(--font-size);
}

.discussion__section-answer-text {
  font-size: var(--font-size);
  color: var(--text-color);
}

.discussion__section-answer-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.discussion__section-answer-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.discussion__section-answer-link:focus {
  outline: none;
}

.discussion__section-answer-link:focus-visible {
  border: 1px solid var(--text-color);
}

.discussion__section__one {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
  margin: 0 10px;
}

.discussion__section-answer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.discussion__section-answer p:first-of-type {
  padding-bottom: 10px;
}

.discussion__section-two {
  padding: 50px 0;
  margin: 0 10px;
}

.discussion__section-answer-two-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.discussion__section-title-two {
  min-width: 355px;
}

.discussion__section-answer-title-two {
  margin-bottom: 10px;
}

.discussion__section__fhree {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;
  margin: 0 10px;
}

.discussion__section-answer-subtitle {
  font-weight: 400;
}

.discussion__section-answer-fhree {
  display: grid;
  gap: 20px;
}

.discussion__section-answer-text-fhree {
  padding-top: 10px;
}

.discussion__section__image {
  padding-bottom: 40px;
}

.discussion__section-title-image {
  margin: 0 10px 10px;
}

.discussion__section__image-container {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.discussion__section__image-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  min-height: 100vh;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

@media (width>= 768px) { /* планшеты */
  .header {
    padding: 20px;
  }

  .header__theme-menu {
    align-items: end;
    justify-content: end;
    padding-block-start: 170px ;
  }

  .header__theme-menu-list {
    flex-direction: column;
    justify-content: end;
    margin-top: 0px;
  }

  .decorative__element {
    margin: 20px;
  }

  .rec_icon::before,
  .rec_icon::after {
    margin: 20px;
  }

  .header__title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header-text {
    max-width: 364px;
  }

  .discussion__section__one {
    grid-template-columns: 33% 67%;
    display: grid;
    gap: 20px;
    padding-right: 20px;
    padding-top: 60px;
    margin: 0 20px;
  }

  .discussion__section-two {
    padding: 80px 0;
    margin: 0 20px;
  }

  .discussion__section-answer-two-container {
    display: flex;
    flex-direction: row;
    gap: 79px;
  }

  .discussion__section-title-two {
    max-width: 236px;
    min-width: auto;
  }
  
  .discussion__section__fhree {
    grid-template-columns: 35% 65%;
    display: grid;
    padding-bottom: 80px;
    margin: 0 20px;
    gap: 0px;
  }

  .discussion__section-answer-fhree {
    margin-inline-end: 0px;
  }

  .discussion__section__image {
    padding-bottom: 60px;
  }

  .discussion__section-title-image {
    margin: 0 20px 20px;
  }

  .discussion__section__image-container {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    margin: 0 20px;
    gap: 20px;
  }

  .discussion__section__image-item:first-of-type {
    grid-column: span 2;
  }

  .discussion__section__image-item:nth-of-type(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .discussion__section__image-item:nth-of-type(3) {
    grid-row: span 2;
  }

  .discussion__section__image-item:nth-of-type(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .discussion__section__image-item:last-of-type {
    grid-column: span 2;
  }

  .footer {
    padding: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}


@media (width>= 1024px) { /* ноуты */
  .header__theme-menu {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-block-start: 0px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .header-text {
    max-width: 491px;
  }

  .discussion__section__one {
    grid-template-columns: 32% 67%;
    gap: 30px;
  }

  .discussion__section-title-two {
    max-width: 315px;
  }

  .discussion__section-answer-two {
    width: 315px;
  }

  .discussion__section-answer-two-container {
    gap: 20px;
  }

  .discussion__section-answer-title-two {
    width: 315px;
  }

  
  .discussion__section-two:nth-child(1) {
    padding-block-end: 57px;
  }
  
  .discussion__section__fhree {
    grid-template-columns: 34% 66%;
  }
}


