/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  overflow-x: hidden;
}

.page {
  background-color: var(--bg-color, #ffffff);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: var(--font-family);
  font-size: 18px;
  overflow-x: hidden;
  
}

.header {
  inline-size: 100%;
  height: 668px;
  background-image: url(/images/cover-image-dark.png);
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  overflow-y: hidden;
  
}

.square_footer_down {
  
}

.header__theme-menu {
  margin-top: 75px;
  display: flex;
  justify-content: end;
  margin-inline-end: 20px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title_header {
  display: flex;
  justify-content: center;
  font-style: inherit;
  font-size: clamp(7.5rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 7px;
  font-weight: 700;
  color: var(--heading-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-left: 10px;
  margin-right: 10px;
  margin-block-start: 65px;
}

.header_text_container {
  background-color: var(--accent-color);
  margin-block-start: 48px;
  margin-inline-end: 20px;
  margin-inline-start: 10px;
  margin-block-end: 38px;
}

.header_text {
  font-weight: 700;
  color: var(--head-color);
  font-size: 18px;
  letter-spacing: 1px;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  padding: 3px 13px;
  border: 1px solid transparent;
  background: transparent;
  transition-duration: var(--transition-duration);
  cursor: pointer;
  text-transform: lowercase;
  color: var(--border-color, #ff0070);
  
}

.header__theme-menu-button:hover {
  border: 1px solid var(--secondary-color, #ff007040);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__theme-menu-button_active {
  cursor: default;
  border-color: currentColor;
  pointer-events: none;
}

.header_decor {
   
  
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  color: #ff0070;
  text-transform: uppercase;  
  
}

.decor_circle {
  width: 9px;
  height: 9px;
  background-color: #ff0070;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1);

  border-width: 1px, 1px, 0px, 0px;

border-style: solid;

border-color: rgba(255, 0, 112, 1);







}

.rec {
  position: absolute;
  width: 97vw;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;


  

}

.square {

  width: 25px;
  height: 25px;
  border-top: #ff0070 solid 1px;
  border-right: #ff0070 solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
} 

.reasons_title_focus {
  
  
  font-size: 20px;
  line-height: 23.4px;
  font-weight: 700;
  color: var(--accent-color);
  }
  
  .reasons_list_item_title_focus {
    background-color: #ff0070;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.4px
    
    

  }

  .reasons_list_item_focus:nth-child(2) {
    margin-block-start: 25px;
  }
  
  .reasons_title_focus {
    margin-block-start: 40px;
    margin-block-end: 20px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    font-weight: 700;
    font-size: 20px;
    
  }
    
    .reasons_list_item_title_focus {
      color: rgba(0, 0, 40, 1);
      margin: 10px;
    
    }
  
    .reasons_list_item_text_focus {
      margin-inline-start: 12px;
      color: var(--main-text-color);
      margin-inline-end: 12px;
    }



    

.reasons_title {
  font-weight: 700;
font-size: 20px;
line-height: 23.4px;

color: var(--accent-color);
  margin-block-start: 60px;
  margin-block-end: 20px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  
}
  
  .reasons_list_item_title {
    color: rgba(0, 0, 40, 1);
    margin: 10px;
    background-color: #ff0070;
    margin-block-start: 20px;
  }

  .reasons_list_item_text {
    margin-inline-start: 10px;
    color: var(--main-text-color);
    margin-inline-end: 10px;
    letter-spacing: 1px;
    line-height: 23px;
  }

  .reasons_list_item:nth-child(3) {
    margin-block-start: 26px;
  }

  .advice_list_item_title {
    
    background-color: var(--accent-color);
    color: var(--head-color);
    margin-inline-end: 10px;
    margin-inline-start: 10px;
    font-weight: 400;
    list-style-type: none;
    margin-block-start: 20px;
    margin-block-end: 10px;
  }

  .advice_list_item_text {
    color: var(--main-text-color);
    margin-inline-end: 10px;
    margin-inline-start: 10px;
    letter-spacing: 1px;
    line-height: 23.3px;
  }

  

  .reasons_title_concentraion {
    margin-block-start: 55px;
    letter-spacing: 1px;
    
   font-size: 20px;
   line-height: 23.4px;

     color: var(--accent-color);
  
  margin-block-end: 20px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  }

  .images_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
  }

  .images_list_item1 {
    width: 355px;
    margin-inline-start: 10px;
    
  }

  .reasons_list_item_text_focus {
    letter-spacing: 1px;
    line-height: 23px;
  }

  .images_list_title {
    background-color: var(--accent-color);
    color: var(--head-color);
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 50px;
    margin-block-end: 10px;
    letter-spacing: 0px;
  }

  .images_list_item:nth-child(1) {
    height: 141px;
  }

  .images_list_item:nth-child(2) {
    height: 355px;
  }

  .images_list_item:nth-child(3) {
    height: 235px;
  }

  .images_list_item:nth-child(4) {
    height: 354px;
  }

  .footer {
    height: 710px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
  }

  .footer_header {
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 8px;
  font-weight: 700px;
  color: var(--heading-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-top: 331px;
  margin-inline-end: 10px;
  margin-inline-start: 10px;
  }

  .square_footer {
    position: absolute;
    width: 25px;
  height: 25px;
  border-top: #ff0070 solid 1px;
  border-right: #ff0070 solid 1px;
  display: flex;
  justify-content: end;
  align-items: end;
  margin-top: 47px;
  margin-left: 340px;
  margin-right: 10px;
  }

  .square_footer_reverse {
  
    width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-bottom: #ff0070 solid 1px;
  border-left: #ff0070 solid 1px;
  margin-top: 200px;
  }



  .header {
    overflow-x: hidden;
  }

  .main {
    overflow-x: hidden;
  }

  footer {
    overflow-x: hidden;
  }

  html {
    overflow-x: hidden;
  }

  

  
  
  
  
  
  @media (width >= 768px) {
    .header__theme-menu {
      margin-top: 192px;
      margin-right: 22px;
    }

    .header {
      height: 1024px;
    }

    .title_header {
      justify-self: start;
      margin-left: 0px;
      margin-block-start: 80px;
    }

    .rec {
      padding-right: 0px;
      padding-block-start: 10px;
    }

  .header_text_container {
    
    justify-self: end;
    width: 364px;
    height: 117px;
    margin-top: 155px;
    
  }

  .square_footer_down {
    margin-top: 20px;
  }
  
  .focus_container {
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 236px 1fr;
  }

  

  .reasons_list_item:nth-child(2) {
    margin-top: 26px;
  }

  .reasons_list_item:nth-child(3) {
    margin-top: 27px;
  }

  .reasons_list {
    margin-left: 20px;
    margin-right: 20px;
  }

  .reasons_list_item_title {
    margin-right: 0px;
    margin-inline-end: 0px;
    height: min-content;
    margin-left: 0px;
  }

  .advice_list {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
  }

  .images_list_title {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin-block-start: 87px;
  }

  .images_list {
    display: grid;
    grid-template-columns: 229px 230px 229px; /* 3 колонки по 229px */
    grid-template-rows: 192px 229px 318px;    /* строки: 192px, 229px, 318px */
    gap: 10px; /* промежуток между элементами */
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }
  
  .images_list_item:first-child {
    grid-area: 1 / 1 / 2 / 3; /* 1 строка, колонки 1-2 */
  }
  
  .images_list_item:nth-child(2) {
    grid-area: 1 / 3 / 3 / 4; /* строки 1-2, 3 колонка */
  }
  
  .images_list_item:nth-child(3) {
    grid-area: 2 / 1 / 4 / 2; /* строки 2-3, 1 колонка */
  }
  
  .images_list_item:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3; /* 2 строка, 2 колонка */
  }
  
  .images_list_item.last_image {
    grid-area: 3 / 2 / 4 / 4; /* 3 строка, колонки 2-3 */
  }
  
  .images_list_item1 {
    width: 100%;
    height: 100%;
    object-fit: cover; /* чтобы изображения заполняли свои ячейки */
  }

  .advice_container {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    margin-top: 83px;
    margin-inline-start: 10px;
  }

  .reasons_title {
    grid-column: 1;
    grid-row: 1;
    width: min-content;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-block-start: 70px;
    letter-spacing: 1px;
  }

  .reasons_list_item_title {
    grid-column: 2;
    grid-row: 1;
  }

  .advice_list {
    grid-column: 2;
    grid-row: 1;
    padding-block-start: 24px;
    
  }

  .header_decor {
    margin-inline-end: 4px;
  }
  
  .focus_container {
    margin-block-start: 60px;

  }

  .reasons_title_focus {
    margin-top: 0px;
    margin-left: 0px;
    white-space: break-spaces;
    font-weight: 700;

  }

  .reasons_list_item_title_focus {
    margin-right: 0px;
    margin-top: 0px;
   
  }

  .reasons_list_item_text_focus {
    margin-bottom: 20px;

    
font-weight: 400;
font-size: 18px;
line-height: 21px;
letter-spacing: 1px;

  }


  .reasons_list_focus {
    margin-inline-start: 10px;
    
  }

  .reasons_list_item:nth-child(2) {
    margin-block-start: 22px;
  }

  .reasons_list_item:nth-child(3) {
    margin-block-start: 22px;
  }

  .reasons_list_item_text {
    margin-right: 0px;
    margin-left: 0px;
    
  }

  .reasons_list_item_title_right {
    width: 472px;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    
  }

  .images_list_title {
    margin-block-end: 20px;
    margin-block-start: 83px;
  }

  .advice_list_item_title {
    margin-left: 0px;
    margin-right: 0px;

  }

  .advice_list_item:nth-child(2) {
    margin-block-start: 18px;
  }

  .advice_list_item:nth-child(3) {
    margin-block-start: 20px;
  }

  .advice_list_item:nth-child(4) {
    margin-block-start: 20px;
  }

  .advice_list_item:nth-child(5) {
    margin-block-start: 20px;
  }

  .square_footer {
    margin-left: 722px;
    margin-block-start: 20px;
  }

  .footer {
    height: 1024px;
    margin-block-start: 60px;
  }

  .footer_header {
    margin-top: 463px;
    
font-weight: 700;
font-size: 120px;
line-height: 83%;
letter-spacing: 110%;

  }

  .square_footer_reverse {
    margin-left: 20px;
    margin-block-end: 18px;
  }

  .reasons_title_concentraion {
    margin-top: 0px;
    white-space: initial;
    margin-right: 0px;
    width: 236px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0px;
  }

  .advice_list_item_text {
    margin-inline-start: 0px;
    letter-spacing: 0.8px;
  }

  .images_list_item:nth-child(1) {
    height: inherit;
  }

  .images_list_item:nth-child(2) {
    height: inherit;
  }

  .images_list_item:nth-child(3) {
    height: inherit;
  }

  .images_list_item:nth-child(4) {
    height: inherit;
  }
}

@media (width >= 1024px) {

  .header {
    height: 768px;
  }

  .rec {
    justify-self: end;
    position: absolute;
    margin-inline-end: 20px;
    margin-block-start: 5px
    
  }

  .header__theme-menu {
    
    margin-block-start: 10px;
    margin-inline-end: 0px;
    margin-block-start: 20px;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .title_header {
    margin-block-end: 75px;
    font-weight: 700;
    font-size: 157px;
    line-height: 83%;
    letter-spacing: 0%;
    margin-inline-start: 5px;
  }

  .header_text_container {
    width: 491px;
    height: 71px;
    position: absolute; 
    align-self: end;
    margin-block-end: 137px;
  }

  .square_footer_down {
    align-self: end;
    margin-block-end: 21px;
  }

  .reasons_title_focus {
    width: 315px;
  }

  .reasons_list_focus {
    width: 649px;
    justify-self: end;
    margin-inline-start: 0px;
  }

  .reasons_list_item_title_focus {
    margin-inline-start: 0px;
  }

  .reasons_list_item_text_focus {
    margin-inline-start: 0px;
    letter-spacing: 0px;
    line-height: 23px;
  }

  .reasons_list_item_focus:nth-child(2) {
    margin-block-start: 0px;
  }

  .reasons_title {
    width: 100%;
    margin-block-start: 65px;
    letter-spacing: 0.1px;
  }

  .reasons_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .reasons_list_item_title:nth-child(1) {
    margin-block-start: 0px;
  }

  .reasons_list_item:nth-child(2) {
    margin-block-start: 0px;
  }

  .reasons_list_item:nth-child(3) {
    margin-block-start: 0px;
  }

  .reasons_list_item_text {
    line-height: 22px;
  }

  .reasons_title_concentraion {
    width: 315px;
  }

  .reasons_list_item_title_right {
    width: 94%;
  }

  .images_list_title {
    margin-block-start: 77px;
  }

  .images_list {
    grid-template-columns: 315px 315px 315px;
    grid-template-rows: 260px 315px 433px;
  }

  .images_list_item:nth-child(1) {
    width: 100%;
    height: inherit;
  }

  .images_list_item:nth-child(2) {
    height: inherit;
  }

  .images_list_item:nth-child(3) {
    height: inherit;
  }

  .images_list_item:nth-child(4) {
    height: inherit;
  }

  .footer {
    height: 768px;
  }

  .square_footer {
    position: absolute;
    margin-inline-start: 980px;
    margin-inline-end: 0px;
    justify-self: end;
  }

  .footer_header {
    font-size: 157px;
    margin-block-start: 325px;
  }
}


