/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: "IBM Plex Mono", monospace;
  --bg-color: #000028;
  --head-color: #000028;
  --bg-image: url(/image/cover-image-dark-png);
  --main-text-color: #F1B2CE;
  --accent-color: #FF0070;
  --heading-text-color: #DB00FF;
  --font-weight-bold: 700;
  
}